html {
  line-height: 1.15;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

a {
  @apply text-link-color;
  text-decoration: none;
}

a:hover {
  color: #7001d1;
}

.transition {
  transition: all 0.1s ease-in;
}

.rotate-180 {
  transform: rotate(180deg);
}

.blur {
  filter: blur(4px);
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 96%;
  background-color: var(--theme-border-secondary);
  height: 1px;
}

.mt-2px {
  margin-top: 2px;
}

button,
input,
optgroup,
select,
textarea {
  line-height: 1.15;
}

/* Remove blue outline on chrome - This is bad for accessability */
a:focus,
button:focus,
textarea:focus,
input:focus {
  outline: none;
}

.page-section {
  @apply .bg-theme-content-background .shadow-theme;
}

@screen xl {
  .page-section {
    @apply .rounded-lg;
  }
}
